---
layout: layouts/base.njk
title: Home
---
<div style="height: 100vh; background: #999;">Hero placeholder</div>
<div style="height: 2000px; padding-top: 100px;">
  <h1>Welcome to {{ site.displayName }}</h1>
</div>
